 
 <div class="entete"> 
        <img src="../../static/img/imageEnteteLogo.png" alt="Logo" class="imageEntete">  
        <img src="../../static/img/logoNoir.png" alt="Logo" class="logoNoir" width="190" height="140" hidden>
 </div>  

    <nav class="navbar navbar-expand-sm" id="barreNavig">
        <div class="container-fluid">
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#n_bar" aria-controls="navbarNavAltMarkup" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <ul class="navbar-nav collapse navbar-collapse" id="n_bar">
                <li class="nav-item">
                    <a class="btn btn-rose" id="btn-admin" href="/"hidden></a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-rose"href="/connexion">Mon compte</a>
                </li>
                <li class="nav-item dropdown">
                    <button type="button" class="btn btn-rose nav-link dropdown-toggle active" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Costumes</button>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
					        <li><a class="dropdown-item" href="/catalogue">Tous</a></li>
					        <li><a class="dropdown-item" href="#">Filtre</a></li>
                        </ul>
                </li>
                <li class="nav-item">
                    <a class="btn btn-dark" class="nav-link" href="/">Déconnexion</a>
                </li>
            </ul>
        </div>
    </nav>
