 
 <div class="entete"> 
        <img src="../../static/img/imageEntete.jpeg" alt="Logo" class="imageEntete">  
        <img src="../../static/img/logoNoir.png" alt="Logo" class="logoNoir" width="140" height="140">  
 </div>  

    <nav class="navbar navbar-expand-sm" id="barreNavig">

    </nav>


        <div class="container-fluid">
            <h1>Bienvenu à l'École Cadence</h1>
            <br/>
             <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-rose"href="/connexion">Connexion</a>
                </li>
                <br/>
                <li class="nav-item">
                    <a class="btn btn-rose"href="/creerCompte">Créer votre compte</a>
                </li>
                
        
            </ul>
        </div>
