 <div class="entete"> 
        <img src="../../static/img/imageEntete.jpeg" alt="Logo" class="imageEntete">  
        <img src="../../static/img/logoNoir.png" alt="Logo" class="logoNoir" width="140" height="140">  
 </div>  

    <nav class="navbar navbar-expand-sm" id="barreNavig">

    </nav>
