{{> headerAd}} 

<br>
<div class="grid-containerAdmin">
        <div class="grid-itemAdmin">
            <a href="/creerCompte">
                <button class="btn btn_roseFonce buttonAdmin" id="ajoutUser">Ajouter un utilisateur</button>
            </a>
        </div>
        <div class="grid-itemAdmin">
            <a href="/ajout">
                <button class="btn btn_grisFonce buttonAdmin" id="ajoutCostume">Ajouter un costume</button>
            </a>
        </div>
        <div class="grid-itemAdmin">
            <a href="/likes">
                <button class="btn btn_rosePale buttonAdmin" id="listeLikes">Liste des <span class="heart-symbol">♥</span></button>
            </a>
        </div>  
       <div class="grid-itemAdmin">
            <a href="/gestion-utilisateurs">
                <button class="btn btn_roseFonce buttonAdmin" id="ajoutCostume">Modifier ou supprimer un utilisateur</button>
            </a>
        </div>
        <div class="grid-itemAdmin">
            <a href="/favoris">
                <button class="btn btn_grisFonce buttonAdmin" id="listeFavoris">Liste des favoris</button>
            </a>
        </div>
       <div class="grid-itemAdmin">
            <a href="/suggestions">
                <button class="btn btn_rosePale buttonAdmin" id="listeSuggestions">Liste des suggestions</button>
            </a>
        </div>
 </div>    

