<script>
    function additionner(){
        let XXpetit_enfant = parseInt(document.getElementById("XXp_enfant").value) || 0;
        let Xpetit_enfant = parseInt(document.getElementById("Xp_enfant").value) || 0;
        let petit_enfant = parseInt(document.getElementById("p_enfant").value) || 0;
        let moyen_enfant = parseInt(document.getElementById("m_enfant").value) || 0;
        let grand_enfant = parseInt(document.getElementById("g_enfant").value) || 0;
        let Xgrand_enfant = parseInt(document.getElementById("Xg_enfant").value) || 0;
        let XXgrand_enfant = parseInt(document.getElementById("XXg_enfant").value) || 0;

        let XXpetit_adulte = parseInt(document.getElementById("XXp_adulte").value) || 0;
        let Xpetit_adulte = parseInt(document.getElementById("Xp_adulte").value) || 0;
        let petit_adulte = parseInt(document.getElementById("p_adulte").value) || 0;
        let moyen_adulte = parseInt(document.getElementById("m_adulte").value) || 0;
        let grand_adulte = parseInt(document.getElementById("g_adulte").value) || 0;
        let Xgrand_adulte = parseInt(document.getElementById("Xg_adulte").value) || 0;
        let XXgrand_adulte = parseInt(document.getElementById("XXg_adulte").value) || 0;

        let sansGrandeur_enfant = parseInt(document.getElementById("oneSize_enfant").value) || 0;
        let sansGrandeur_adulte = parseInt(document.getElementById("oneSize_adulte").value) || 0;
        let sansGrandeur = parseInt(document.getElementById("oneSize").value) || 0;

        let totalEnfant = XXpetit_enfant + Xpetit_enfant + petit_enfant + moyen_enfant + grand_enfant + Xgrand_enfant + XXgrand_enfant;
        let totalAdulte = XXpetit_adulte + Xpetit_adulte + petit_adulte + moyen_adulte + grand_adulte + Xgrand_adulte + XXgrand_adulte;
        let totalSans =  sansGrandeur_enfant + sansGrandeur_adulte + sansGrandeur;

        let grandTotal = totalEnfant + totalAdulte + totalSans;

        document.getElementById("quantity").value = grandTotal;
    }
</script> 

{{> headerAd}}

<form action="/ajout" enctype="multipart/form-data" method="POST" id="ajoutCostume">
    <h3>Formulaire d'ajout de costume</h3>
        <div class="flex-container">
                <div class="flex-item">
                    <b><label for="titre">Titre:</label></b><br>
                    <input type="text" id="titre" name="titre"required><br><br>
                </div>
                <div class="flex-item">
                    <b><label for="category">Catégorie:</label></b><br>
                        <input type="text" id="category" name="category"><br><br>
                </div>
                <div class="flex-item">
                    <b>Couleur(s):</b><br>
                        <input type="checkbox" name="brun" id="brun" class="color-checkbox">
                            <label for="brun" class="color-label brun"></label>
                        <input type="checkbox" name="rouge" id="rouge" class="color-checkbox">
                            <label for="rouge" class="color-label rouge"></label>
                        <input type="checkbox" name="rose" id="rose" class="color-checkbox">
                            <label for="rose" class="color-label rose"></label>
                        <input type="checkbox" name="mauve" id="mauve" class="color-checkbox">
                            <label for="mauve" class="color-label mauve"></label>
                        <input type="checkbox" name="bleu" id="bleu" class="color-checkbox">
                            <label for="bleu" class="color-label bleu"></label>
                        <input type="checkbox" name="vert" id="vert" class="color-checkbox">
                            <label for="vert" class="color-label vert"></label><br>
                        <input type="checkbox" name="jaune" id="jaune" class="color-checkbox">
                            <label for="jaune" class="color-label jaune"></label>
                        <input type="checkbox" name="orange" id="orange" class="color-checkbox">
                            <label for="orange" class="color-label orange"></label>
                        <input type="checkbox" name="noir" id="noir" class="color-checkbox">
                            <label for="noir" class="color-label noir"></label>
                        <input type="checkbox" name="gris" id="gris" class="color-checkbox">
                            <label for="gris" class="color-label gris"></label>
                        <input type="checkbox" name="blanc" id="blanc" class="color-checkbox">
                            <label for="blanc" class="color-label blanc"></label>
                        <input type="checkbox" name="multi" id="multi" class="color-checkbox">
                            <label for="multi" class="color-label multi"></label><br>
                </div>
                <div class="flex-item">
                    <b><label for="notes">Notes:</label></b><br>
                        <textarea id="notes" name="notes" rows="2" cols="40"></textarea><br><br>
                </div>
                <div class="flex-item">
                    <b>Grandeur(s):</b><br>
                        <table border="1">
                            <tr>
                                <th>grandeur</th>
                                <th>enfant</th>
                                <th>adulte</th>
                                <th>N/A</th>
                            </tr>
                            <tr>
                                <td>XX-petit</td>
                                <td><input type="number" class="bte_tableau" id="XXp_enfant" name="XXp_enfant"></td>
                                <td><input type="number" class="bte_tableau" id="XXp_adulte" name="XXp_adulte"></td>
                            </tr>
                            <tr>
                                <td>X-petit</td>
                                <td><input type="number" class="bte_tableau" id="Xp_enfant" name="Xp_enfant"></td>
                                <td><input type="number" class="bte_tableau" id="Xp_adulte" name="Xp_adulte"></td>
                            </tr>
                            <tr>
                                <td>petit</td>
                                <td><input type="number" class="bte_tableau" id="p_enfant" name="p_enfant"></td>
                                <td><input type="number" class="bte_tableau" id="p_adulte" name="p_adulte"></td>
                            </tr>
                            <tr>
                                <td>moyen</td>
                                <td><input type="number" class="bte_tableau" id="m_enfant" name="m_enfant"></td>
                                <td><input type="number" class="bte_tableau" id="m_adulte" name="m_adulte"></td>
                            </tr>
                            <tr>
                                <td>grand</td>
                                <td><input type="number" class="bte_tableau" id="g_enfant" name="g_enfant"></td>
                                <td><input type="number" class="bte_tableau" id="g_adulte" name="g_adulte"></td>
                            </tr>
                            <tr>
                                <td>X-grand</td>
                                <td><input type="number" class="bte_tableau" id="Xg_enfant" name="Xg_enfant"></td>
                                <td><input type="number" class="bte_tableau" id="Xg_adulte" name="Xg_adulte"></td>
                            </tr>
                            <tr>
                                <td>XX-grand</td>
                                <td><input type="number" class="bte_tableau" id="XXg_enfant" name="XXg_enfant"></td>
                                <td><input type="number" class="bte_tableau" id="XXg_adulte" name="XXg_adulte"></td>
                            </tr>
                            <tr>
                                <td>sans grandeur</td>
                                <td><input type="number" class="bte_tableau" id="oneSize_enfant" name="oneSize_enfant"></td>
                                <td><input type="number" class="bte_tableau" id="oneSize_adulte" name="oneSize_adulte"></td>
                                <td><input type="number" class="bte_tableau" id="oneSize" name="oneSize"></td>
                            </tr>
                        </table>
                </div>
                <div class="flex-item">
                    <b><label for="age_group">Catégorie d'âge:</label></b><br>
                        <select name="age_group" id="age_group" required>
                            <option value="">Choisir une catégorie</option>
                            <option value="enfant">Enfant</option>
                            <option value="ado">Adolescent</option>
                            <option value="adulte">Adulte</option>
                            <option value="no_age">N/A</option>
                        </select><br>
                </div>
                <div class="flex-item">
                    <b><label for="quantity">Quantité totale:</label></b>
                        <b><input type="text" id="quantity" name="quantity" readonly>{{grandTotal}}</b>
                        <button type="button" class="btn btn_roseFonce2" onclick="additionner()">Calculer</button>
                </div>
                <div class="flex-item">
                    <b><label for="upload_photo">Photo:</label></b>
                        <input type="file" id="upload_photo"  name="upload_photo" class="form-control"><br><br>
                </div>
                <div class="flex-item">
                    <b><label for="localisation">Localisation:</label></b><br>
                        <input type="text" id="localisation" name="localisation"><br><br>
                </div>
                <div class="flex-item">
                    <b><label for="boite">Boîte:</label></b><br>
                        <input type="text" id="boite" name="boite"><br><br>
                </div>
            </div>
               <button type="submit" class="btn btn_roseFonce" id="button">ENREGISTRER</button>
</form>



