 
{{> headerAd}} 

<div class="grid-container">
    {{#each listeCostumes}}
        <div class="grid-item">
            <ul>
                <li>{{this.image}}</li>
            </ul>
        </div>
    {{/each}}
</div>
    