
<script>
    function redirection() {
        window.location.href = "/catalogue"; 
    }
</script>

{{> headerAdEN}}

<div class="container-confirmation">
    <b>Successful registration!</b><br>
    <button type="button" class="btn btn_roseFonce" onclick=redirection()>Back</button>
</div>
