
<script>
    function redirection() {
        window.location.href = "/connexion"; 
    }
</script>

{{> headerConnexion}}

<div class="container-confirmation">
    <b>Mot de passe réinitialisé avec succès!</b><br>
    <button type="button" class="btn btn_roseFonce" onclick=redirection()>Retour</button>
</div>
