
<script>
    function redirection() {
        window.location.href = "/ajout"; 
    }
</script>

{{> headerAd}}

<div class="container-confirmation">
    <b>Enregistrement effectué avec succès!</b><br>
    <button type="button" class="btn btn_roseFonce2" onclick=redirection()>Retour</button>
</div>