
<script>
    function redirection() {
        window.location.href = "/catalogue"; 
    }
</script>

{{#if (eq userRole "administrateur")}}
    {{> headerAdEN}}
{{else if (eq userRole "professeur")}}
    {{> headerEN}}
{{/if}}

<div class="container-confirmation">
    <b>Successful registration!</b><br>
    <button type="button" class="btn btn_roseFonce" onclick=redirection()>Back</button>
</div>
