

{{> headerConnexion}}

<div class="container-confirmation">
    <b>Nom d'utilisateur ou mot de passe incorrect</b><br>
    <button type="button" class="btn btn_roseFonce" onclick=redirection()>Retour</button>
</div>

<script>
    function redirection() {
        window.location.href = "/connexion"; 
    }
</script>