{{> headerConnexion}}

    <div class="form-container">
       <form action="/reset-password" method="POST">
        <h2 class="center-text"><strong>Réinitialisation du mot de passe</strong></h2>
          <div class="form-group">
              <div>
                <input type="email" id="email" name="email" placeholder="Entrez votre courriel" required>
              </div><br>
              <button type="submit" class="btn btn_roseFonce">Vérifier l'email</button>
          </div>
        </form>
    </div>
