{{> headerConnexion}}

<style>
  .center-text {
    text-align: center;
  }
</style>
<div>
  <h2 class="center-text"><strong>Réinitialisation du mot de passe</strong></h2>

    <div class="form-container">
       <form action="/reset-password" method="POST" class="connexion-form">
    <div class="form-group">
        <h3>Courriel</h3>
        <input type="email" id="email" name="email" placeholder="Entrez votre courriel" required>
        <button type="submit" class="btn btn-rose">Vérifier l'email</button>
    </div>
</form>

    </div>
</div>
