{{> headerConnexion}}

    <div class="form-container">
        <form action="/reset-password-form" method="POST" class="connexion-form">
             <div class="form-group">
                <h3 class="center-text"><strong>Réinitialisation du mot de passe</strong></h3><br>
                <label for="email">Email</label>
                <input type="text" name="email" value="{{email}}" readonly required>
            </div>
            <div class="form-group">
                <label for="secretQuestion">Question secrète</label>
                <input type="text" name="secretQuestion" value="{{secretQuestion}}" readonly required>
            </div>
            <div class="form-group">
                <label for="secretAnswer">Réponse secrète</label>
                <input type="text" name="secretAnswer" placeholder="Votre réponse secrète" required>
            </div>
            <div class="form-group">
                <label for="newPassword">Nouveau mot de passe</label>
                <input type="password" name="newPassword" placeholder="Entrez un nouveau mot de passe" required>
            </div>
            <div class="form-group">
                <label for="confirmNewPassword">Confirmer le mot de passe</label>
                <input type="password" name="confirmNewPassword" placeholder="Confirmez le nouveau mot de passe" required>
            </div>
            <button type="submit" class="btn btn_roseFonce">Réinitialiser le mot de passe</button>
        </form>
    </div>

