{{> headerConnexion}}

<style>
  .center-text {
    text-align: center;
  }
</style>

<div>
    <h2 class="center-text"><strong>Réinitialisation du mot de passe</strong></h2>

    <div class="form-container">
        <form action="/reset-password-form" method="POST" class="connexion-form">
             <div class="form-group">
                <h3>Email</h3>
                <input type="text" name="email" value="{{email}}" readonly required>
            </div>
            <div class="form-group">
                <h3>Question secrète</h3>
                <input type="text" name="secretQuestion" value="{{secretQuestion}}" readonly required>
            </div>
            <div class="form-group">
                <h3>Réponse secrète</h3>
                <input type="text" name="secretAnswer" placeholder="Votre réponse secrète" required>
            </div>
            <div class="form-group">
                <h3>Nouveau mot de passe</h3>
                <input type="password" name="newPassword" placeholder="Entrez un nouveau mot de passe" required>
            </div>
            <div class="form-group">
                <h3>Confirmer le mot de passe</h3>
                <input type="password" name="confirmNewPassword" placeholder="Confirmez le nouveau mot de passe" required>
            </div>
            <button type="submit" class="btn btn-rose">Réinitialiser le mot de passe</button>
        </form>
    </div>
</div>
