
/* CSS pour l'entete */

.entete{
    width: 100%;
    height: auto;
    background-color: white;
    position: relative;
  }

.imageEntete {
    width: 100%;
    height: auto;
}

.logoNoir{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

#barreNavig{
    background-color: #d44687;
    width: 100%;
}

ul.navbar-nav {
    display: flex; 
    justify-content:center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
}
.nav-item {
    margin: 0 25px; /* Espacement horizontal entre les boutons */   
}
.nav-item:first-child {
    margin-right: auto;
}


.btn {
    border-radius: 20px;
    padding: 10px 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;  
    cursor: pointer; 
}

.btn-rose {
    background-color: #f0b8c8; 
}

.btn-rose:hover {
    background-color: #7a7a7a; 
}
.btn-rose:active {
    background-color: #ffffff;
}

#navbarScrollingDropdown{
    background-color: #f0b8c8;
}
#navbarScrollingDropdown:hover{
    background-color: #7a7a7a;
}

/*reste du document*/

.btn_roseFonce{
    background-color: #d44687;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;     
}
.btn_roseFonce:hover{
    background-color: #7a7a7a;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;     
}


.btn_roseFonce2{
    background-color: #d44687;
    color:white;
    width: 80px;
    height: 40px; 
    text-align: center;  
    font-size: smaller;
    padding: 5px;
}

.btn_roseFonce2:hover{
    background-color: #7a7a7a;
    color:white;
    width: 80px;
    height: 40px; 
    text-align: center;  
    font-size: smaller;
    padding: 5px;  
}

.btn_grisFonce{background-color: #7a7a7a;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;     
}

form {
    background-color: lightgrey;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
  }
  input, textarea, select{
    width: 80%;
    border-radius: 15px;
    border-color: #ffffff;
    text-align: center;
  }
  #upload_photo{
    width: 80%;
    border-radius: 15px;
    border-color: #ffffff;
  }
  #quantity{
    width: 20%;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    text-align: left;
    padding: 20px;
}
.flex-item {
    flex: 1 1 calc(50% - 20px); 
    margin: 10px;
    padding: 10px; 
    box-sizing: border-box; /* Inclure le rembourrage et la bordure dans les dimensions */
}

table{
    width: 90%;
    background-color: #ffffff; 
    border: 1px solid black;
    font-size: smaller; 
    text-align: center; 
}
td{
    border: 1px solid black;
}
th{
    background-color: #7a7a7a;
    border: 1px solid black;
}
td:nth-child(1){
    background-color: #9a9a9a;
}
.bte_tableau{
    width: 50%;
    height: 50%;
}
input:read-only{
    background-color: #9a9a9a;
}

.color-checkbox {
    display: none; /* Cacher la case à cocher d'origine */
}
.color-label {
    display: inline-block;
    padding: 15px 15px;
    border: 1px solid black;
    cursor: pointer;
    margin-right: 60px; /* Espacement entre les couleurs */
}


/* Couleurs personnalisées pour chaque case */
.brun { background-color: rgb(56, 31, 1); }
.rouge { background-color: red; }
.rose { background-color: pink; }
.mauve { background-color: purple; }
.bleu { background-color: blue; }
.vert { background-color: green; }
.jaune { background-color: yellow; }
.orange { background-color: orange; }
.noir { background-color: black; color: white; }
.gris { background-color: gray; }
.blanc { background-color: white; }
.multi { background-image: url('img/multi2.jpg'); } 

.color-checkbox:checked + .color-label {
    /* Style la case à cocher lorsqu'elle est sélectionnée */
    border: 10px solid white; /* Par exemple, border pour indiquer sélection */
}

#age_group{
    text-align: center;
}

@media (max-width: 480px) {
      /* Instructions pour petits écrans */
    .nav-item {
        margin: 0 5px; 
        flex-basis: 100%;
    }
    .imageEntete{
        height: auto;
    }
    .logoNoir{
        width: 100px;
        height: auto;
    }

    .flex-item {
        flex: 1 1 100%; /* Chaque item prend 100% de la largeur */
    }

}
.grid-container {
    margin: 10px auto; 
    padding: 10px;
    max-width: 1600px; 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px; 
    justify-items:center;
}
.grid-item {
    position: relative; 
}

.grid-item img{
    border: 1px solid black;
    width: 100%; 
    height: auto; 
    border-radius: 15px; 
    margin: 0;
    position:relative;
}

.grid-item:hover .info-container{
    display:block;
}

.imageCatalogue:hover{
    opacity: 0.5;
}

.container-confirmation {
    background-color: lightgrey;
    margin: 20px auto; 
    padding: 20px;
    border-radius: 20px;
    max-width: 400px; 
    display: grid;
    justify-items: center;
}

.info-container {
    display: none; /* Cacher par défaut */
    position: absolute; /* Positionner par rapport au conteneur */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the content horizontally */
    justify-content: center; /* Centers the content vertically */
    text-align: center;
    margin-top: 20px; /* Adjust as needed for spacing below the header */
}


h1 {
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
    color: #333;
}


.form-group {
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}


/* Media query pour les petits écrans (mobiles) */
@media (max-width: 480px) {

.grid-container {
    grid-template-columns: 1fr; 
    padding-left: 10px; 
    padding-right: 10px; 
}
}